* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --cubic-bezier: cubic-bezier(0.21, 0.98, 0.6, 0.99);
}

.circle-1 {
  animation: circle-1-scaling 5s var(--cubic-bezier) infinite alternate;
}

.circle-2 {
  animation: circle-2-scaling 5s var(--cubic-bezier) infinite alternate;
}

.circle-3 {
  animation: circle-3-scaling 5s var(--cubic-bezier) infinite alternate;
}

@keyframes circle-1-scaling {
  0%,
  10% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes circle-2-scaling {
  0%,
  40% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes circle-3-scaling {
  0%,
  70% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%) scale(1);
  }
}
